<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aonaware.Utility.Configuration.Properties.Settings.DbConnection" connectionString="File Name=.\..\..\..\..\Database\nunit-Utility.udl"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
